.glyphicon-refresh-animate {
   -webkit-animation-name: rotateThis;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
}

@-webkit-keyframes "rotateThis" {
 from { 
        -webkit-transform: rotate( 0deg );  
    }
 to  { 
        -webkit-transform: rotate( 360deg ); 
    }
}

.jumbotron, .nav li a:hover, .nav li.open a.dropdown-toggle { 
	background-color: #7ED3FF;
}

li.open .dropdown-menu a:hover {
  background-color: #F5F5F5;
}

#alternar .alert {
	margin-top: 21px;
}

.form-group .panel-default, .form-group span.alert-danger {
  display:inline; 
  padding: 3px 15px;
  margin-left: 15px;
}